<html>
<body>
Test template
<form action="/test" method="post">
    <div><label> First : <input type="text" name="first" autocomplete="off"/> </label></div>
    <div><label> Second: <input type="password" name="second"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Enter"/></div>
</form>
</body>
</html>